.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body-wrapper {
  padding: 20px 0 20px 0;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #282828;
}
