.header-wrapper {
    height: fit-content;
}

.header-title {
    height: fit-content;
    font-size: 44px;
    padding: 20px 0 20px 0;
    align-content: center;
    top: 0;
    border-bottom: 1px solid white;
}

.header-navigation {
    height: fit-content;
    display: flex;
    width: 100%;
}

.header-navigation-button {
    background-color: transparent;
    color: white;
    padding: 10px;
    border: none;
    font-size: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.middle-button {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.button-label {
    padding-left: 10px;
}

.github-logo {
    align-self: center;
    height: 30px;
}

.linkedin-logo {
    align-self: center;
    height: 30px;
    color: white;
}