.header {
    background-color: #282828;
}

div.header-wrapper {
    height: fit-content;
    font-size: calc(10px + 3vmin);
    display: flex;
    padding-right: 0;
    border-bottom: white solid 1px;
}

.header-title-wrapper {
    padding: 20px 0 20px 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.header-title {
    display: flex;
    position: absolute;
    text-align: center;
}

.header-navigation {
    padding: 20px 0 20px 0;
    height: fit-content;
    display: flex;
}

.header-navigation-button {
    background-color: transparent;
    color: white;
    padding: 10px;
    border: none;
    font-size: calc(10px + 2vmin);
    display: flex;
    align-content: center;
    justify-content: center;
}

.middle-button {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.button-label {
    padding-left: 10px;
}

.github-logo {
    align-self: center;
    height: calc(10px + 2vmin);
}

.linkedin-logo {
    align-self: center;
    height: calc(10px + 2vmin);
    color: white;
}

.email-logo {
    align-self: center;
    height: calc(10px + 2vmin);
}

@media (max-width: 1024px) {
    .github-logo {
        align-self: center;
        height: calc(10px + 3vmin);
    }

    .linkedin-logo {
        align-self: center;
        height: calc(10px + 3vmin);
        color: white;
    }

    .email-logo {
        align-self: center;
        height: calc(10px + 3vmin);
    }
}

@media (max-width: 576px) {
    div.header-wrapper {
        width: 100%;
    }

    .header-title {
        padding-top: 0.2lh;
    }

    .header-navigation-button {
        padding: 10px 5px 10px 5px;
    }
}